body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: darkslategrey;
  margin: 0;
}

.quiz-body-container {
  display: inline-grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;

  grid-template-rows: auto;
  grid-template-areas:
      "quiz-header-section        quiz-header-section"
      "quiz-selection-section     quizzes-scoreboard-section"
      "start-quiz-button-section  start-quiz-button-section"
}


.quiz-header-section {
  grid-area: quiz-header-section;

  background-color: #54aabd;
  width: 100%;
  padding: 16px;

  color: #ffffff;
}

.quiz-header-text {
  font-weight: bolder;
  font-size: 500%;
}

.quiz-header-subtext {
  font-weight: lighter;
  font-size: 120%;
}


.quiz-selection-section {
  grid-area: quiz-selection-section;
}

.quiz-selection-select-label {
  font-size: 170%;
}

#quiz-selection-select {
  background-color: azure;
  width: 70%;
  border: 2px solid azure;

  color: darkslategrey;
  padding: 16px;
}

.quiz-selection-select-option {
  font-size: 300px;
}


.quizzes-scoreboard-section {
  grid-area: quizzes-scoreboard-section;
}

.quizzes-scoreboard-header {
  width: 70%;
  margin-left: 15%;
}

.quizzes-scoreboard-list {
  width: 70%;
  background-color: azure;
  margin-left: 15%;
}


.start-quiz-button-section {
  grid-area: start-quiz-button-section;
}

.start-quiz-button {
  background-color: #54aabd;
  border: 2px solid #54aabd;

  color: #ffffff;
  font-size: 120%;

  padding: 16px;
  width: 50%;
}
